top_tray
chat_handler
exchange_handler
mainframe_handler
notify_handler
chat_sender
chat_log
chat_filter
flooder
chat_removeduplicates
auto_answerer
walk
analiz
elix_notify
mission_notify
dungeon_trip_notify
dress
sleep
anti503
font_size
online_filter
inventory_backup
exchange_sound
afk_manager
recipes
firework
autopass_bugag
chat_hilight
split_goods
battle_preload
simple_doc
; == Следующие плагины так же могут быть подключены пользователем ==
;fast_cast
;chat_private_tab
;chat_context_menu
;userlist_ctxmenu
;chat_speed
;fighter_notebook
;fiz_filter
;claims_filter
;hide_advert
;mana_donor
;portal_notify
;show_heal_speed
