; Файл задаёт список известных Менеджеру плагинов, а также
; разрешает/запрещает загрузку каждого из плагинов.
; Символы ";" (точка с запятой) и "#" (диез) задают начало
; комментария. Все символы от начала комментария и до конца
; строки игнорируются Менеджером.
; Файл combats_plugins.ini.sample - это список "по умолчанию",
; необходим для первого запуска и в дальнейшем не используется.

logging=true
sys_log=true
top_tray=true
hot_keys=true
chat_handler=true
exchange_handler=true
mainframe_handler=true
notify_handler=true
chat_log=true
chat_filter=true
chat_removeduplicates=true
battle_attack=true
mainframe_reload=true
analiz=true
anti503=true
battle_bloodring=false
battle_fast_tricks=false
battle_preload=true
chaot_saveclaim=true
chat_context_menu=true
chat_hilight=false
chat_links=true
chat_private_tab=true
check_updates=true
claims_filter=true
digger_check=true
dress=false
dungeon_trip_notify=true
elix_notify=true
exchange_filter=true
exchange_sound=true
exchange_test=false
firework=true
fiz_filter=false
font_size=false
hide_advert=false
highlight_best_rune=true
hp_dislpay_fix=true
inventory_backup=false
item_expiration_notify=true
mission_notify=true
move_prompt=true
online_filter=false
portal_notify=true
recipes=true
run_to_location=true
shop_autofilter=true
show_heal_speed=false
userlist_ctxmenu=true
view_claims=true
view_current=true
view_reward=true
walk=true